{{diagnostic}}
<nav>
    <a [routerLink]="['Inicio']">Inicio</a>
	<a [routerLink]="['Logout']" (click)="logout()">Cerrar Sesi&oacute;n</a>
  </nav>
<router-outlet></router-outlet>
<div class="container">
    <h1>Agregar Nueva Tropa</h1>
    <form *ngIf="active" (ngSubmit)="onSubmit()" #tropaForm="ngForm">
      <div class="form-group">
        <label for="numeroTropa">Numero de Tropa</label>
        <input type="text" class="form-control" required [(ngModel)]="tropa.numeroTropa" ngControl="numeroTropa">
        TODO: remove this: {{tropa.numeroTropa}}
      </div>
      <div class="form-group">
        <label for="fechaIngreso">Fecha Ingreso</label>
        <input type="text" class="form-control" [(ngModel)]="tropa.fechaIngreso" ngControl="fechaIngreso"> 
      </div>
      <div class="form-group">
        <label for="animalesRecibidos">Cantidad de animales recibidos</label>
        <input type="text" class="form-control" [(ngModel)]="tropa.animalesRecibidos" ngControl="animalesRecibidos">
      </div>
      <div class="form-group">
		  <label for="especieId">EspecieId</label>
		  <select class="form-control" required [(ngModel)]="tropa.especieId" ngControl="especieId" >
		    <option *ngFor="#e of especies" [value]="e">{{e}}</option>
		  </select>
	  </div>

	  <button type="button" class="btn btn-default" (click)="newTropa()">Nueva Tropa</button>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>